<ng-container *ngIf="data.sliderDetail !== undefined">
<slider [type]="''" [item]="data.sliderDetail"></slider>
</ng-container>
<div class="container ">
  <div class="row dp-f-s-s">
    <div class=" filter col_md_12 col_xs_12 col_sm_12 col_lg_12 spacer-b-60 br-b-w">
      <div class="col_lg_12 col_sm_12 col_xs_12 col_md_12 spacer-b-20 dp-f-s-s dp-f">
        <div class="filter__item f-g-s">
          DATE
        </div>
      </div>
      <div class="col_lg_12 col_sm_12 col_xs_12 col_md_12 spacer-b-30 br-b-w dp-f-s-s dp-f">
        <div class="date-filter dp-f dp-f-s-s col_lg_12 spacer-b-30 col_sm_12 col_xs_12 col_md_12 ">
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c actove">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>
          <div class="date-filter__item dp-f dp-f-c-c">
            <span class="date-filter__f"> MAY </span>
            <span class="date-filter__n"> 01</span>
            <span class="date-filter__f"> SAT </span>
          </div>

        </div>
      </div>
      <div class="col_lg_12 col_sm_12 col_xs_12 col_md_12 spacer-b-20 dp-f-s-s dp-f">
        <div class="filter__item f-g-s">
          CINEMA
        </div>
        <div class="filter__item f-g-s">
          TIME
        </div>
      </div>
      <div class="col_lg_12 col_sm_12 col_xs_12 col_md_12 dp-f-s-s dp-f spacer-b-30">
        <drop-down [itemDrop]="data.cinemaDetail" [type]="'cinema'" (modelChange)=" modelChange($event) "></drop-down>
        <drop-down [itemDrop]="data.showDetail" [type]="'time'" (modelChange)=" modelChange($event) "></drop-down>
        <div class="filter__item filter__item--options dp-f dp-f-c-c f-g-s spacer-l-50">
          Available
        </div>
        <div class="filter__item filter__item--options dp-f dp-f-c-c f-g-s">
          Booked
        </div>
        <div class="filter__item filter__item--options dp-f dp-f-c-c f-g-s">
          Sold out
        </div>
        <div class="filter__item filter__item--options dp-f dp-f-c-c f-g-s">
          Selected
        </div>
      </div>
    </div>
    <div class="col_lg_12 col_sm_12 col_xs_12 col_md_12 dp-f-c-c dp-f ">
    <hall class="col_lg_12 col_sm_12 col_xs_12 col_md_12" [hall]="data.hallDetail"></hall>
    </div>
  </div>
</div>
